{% extends 'wiki/Base.html' %}

{% block metatags %}
<meta name="articleuri" content="{{ escaped_article_name }}" />
{% if redirect %}
<meta http-equiv="Refresh" content="1; url=/wiki/read/{{ redirect }}" />
{% endif %}
{% endblock %}

{% block title %}{{ article_name }} - History #{{ history_id }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ MEDIA_URL }}wiki/read.css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}wiki/history.css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}wiki/print.css" media="print" />
{% endblock %}

{% block script %}<script type="text/javascript" src="{{ MEDIA_URL }}wiki/view.js"></script>{% endblock%}


{% block subTitle %}{{ article_name }} <span class="history_id"> - History {{ history_id }}</span>{% endblock %}
{% block content %}
<div id="content" class="content_read">
{{ parsed_article_content }}

<p id="controls">
<a href="../history_list/{{ escaped_article_name }}">Other Versions</a>
<a href="../rollback/{{ history_id }}">Rollback to this version</a>
<a href="../read/{{ escaped_article_name }}">Show current version</a>
</p>
</div>
{% endblock %}
