#content {
    height: 100%;
    min-height: 20em;
}

@media screen and (max-width: 768px) {
    nav, .field label, #is_public_field, #url_field, #count_control {
        display: none;
    }

    #content {
        margin: 0;
        border: 0;
        outline: none;
        border-radius: 0;
        box-shadow: 0;
    }

    #wrapper {
        padding: 0;
    }
}
