body {
    background-image: none;
    background-color: #693;
}

#edit {
    float: left;
    width: 100%;
    clear: both;
}
#editor {
    width: 95%;
    float: left;
    margin: 0 2em 0 0;
}

#content {
    width: 100%;
    height: 80%;
    min-height: 40em;
    display: block;
    font-size: 11pt;
}

#insert_pad {
    height: 100pt;
    width: 100%;
    display: none;
}

#tool_list {
    border-bottom: 1px solid #ccc;
    list-style: none;
    margin: 0;
    padding: 5px;
    display: none;
}

#tool_list li {
    display:inline;
    list-style-type: none;
}

#tool_list li a {
    padding: 5px;
    border: 1px solid #ccc;
    background: #eee;
}

#tool_list .selected a {
    border-bottom: 1px solid white;
    background: white;
}

input[type=submit] {
    position: relative;
    margin: 1em 0;
    border-radius: 5px;
    padding: 0.7em;
    font-weight: bold;
    color: white;
    background: #91bd09 url(http://www.zurb.com/images/alert-overlay.png) repeat-x;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border: 0;
}

input[type=submit]:hover {
    background: #749a02;
}

input[type=submit]:active {
    top: 1px;
}

#search_suggestion {
    background: #eee;
    padding: 1em;
    font-size: 85%;
}

#search_suggestion a {
    font-size: 120%;
    font-weight: bold;
}
