body {
    margin: 0;
    padding: 0;
    background: white;
    font-size: 90%;
    font-family: NanumGothic, '나눔고딕', Malgun Gothic, '맑은 고딕', gulim, sans-serif;
}

#wrapper {
    width: 80%;
    margin: 1em 2em;
    float: left;
    background-color: white;
    padding: 1em;
    border: 10px solid rgba(0,0,0,1);
    -webkit-background-clip: padding-box;

}

h1 {
    margin: 0 0 0.4em 0;
    padding: 0 0 0.2em 0;
    font-size: 300%;
    clear: both;
}

.section_anchor {
    color: #c00;
}

#nav {
    margin: 0;
    padding: 0;
    text-align: left;
    float: left;
}
#nav li {
    display: inline;
    margin: 0;
    padding: 0 1.7em 0 0;
}
#nav li a {
    text-decoration: none;
    color: #999;
}
#nav li a:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

#search {
    float: right;
}

#search_query {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5em;
    font-weight: bold;
    font-family: NanumGothic, '나눔고딕', Malgun Gothic, '맑은 고딕', gulim, sans-serif;
}

#validations {
    clear: both;
    text-align: center;
}

#validations a {
    opacity: 0.3;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#prev_next a {
    color: #69c;
    margin: 1em;
}

#nav_prev_page::before {
    content: '<< ';
}

#nav_next_page::after {
    content: ' >>';
}

/* content styles */
.content_read {
    line-height: 1.7em;
    font-family: NanumMyongjo, '나눔명조', batang, serif;
}

/* Header */
h2 {
    padding-bottom: 0.2em;
    border-bottom: 1px solid #ccc;
    font-family: NanumGothic, '나눔고딕', Malgun Gothic, '맑은 고딕', gulim, sans-serif;
}

h3,h4,h5,h6 {
    margin-bottom: 0;
    font-family: NanumGothic, '나눔고딕', Malgun Gothic, '맑은 고딕', gulim, sans-serif;
}

p {
    margin: 0.5em 0 1em 0;
}

em,strong {
    background: #ddd;
}

.image {
    display:block;
    margin: 0 auto;
    text-align: center;
}

.content_read ul,ol {
    margin: 0;
    padding-left: 1.5em;
}

.content_read ul {
    list-style-type: square;
}

.link_inside_nonexist {
    color: red;
}

.link_external {
    color: green;
}

.code {
    margin: 0 1em;
}

.code .highlight {
    padding: 0 1em;
    font-size: 110%;
    line-height: 1em;
    font-family: NanumGothicCoding;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.eqn {
    padding: 1em 3em;
    text-align: center;
}

.eqn img {
    display: inline;
}

.eqn_id {
    margin-left: 2em;
}

#create_new {
    background: #eee;
    padding: 1em;
    font-size: 80%;
    color: #666;
}

#create_new em {
    color: black;
    font-weight: bold;
    font-size: 120%;
}

blockquote {
    font-size: 110%;
    padding: 1em;
    margin: 0;
    quotes: "\201C" "\201D";
}

blockquote cite {
    margin-left: 10em;
}

blockquote p:before { 
    content: open-quote; 
    font-size: 200%; 
    font-weight: bold; 
    color: #999;
}

blockquote p:after { 
    content: close-quote; 
    font-size: 200%; 
    font-weight: bold; 
    color: #999;
}

blockquote cite:before { 
    content: " - "; 
}

