<<<<<<< HEAD
﻿html, input, textarea {
    font-family: sans-serif;
    font-size: 16px;
    text-size-adjust: 100%;
}

body {
    margin: 0 auto;
    padding: 1em;
    max-width: 100%;
    line-height: 1.5;
    background: white;
}

img {
    max-width: 100%;
}

.section_anchor {
    color: #c00;
}

#content a {
    color: green;
}

#content a.link_inside {
    color: blue;
}

.link_inside_nonexist {
    color: red;
}

.code .highlight {
    margin: 0 1em;
    font-family: monospace;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.eqn {
    padding: 1em 3em;
    text-align: center;
}

.eqn img {
    display: inline;
}

.eqn_id {
    margin-left: 2em;
}

#create_new {
    background: #eee;
    padding: 1em;
    font-size: 80%;
    color: #666;
}

#create_new em {
    color: black;
    font-weight: bold;
    font-size: 120%;
}

blockquote {
    font-size: 110%;
    padding: 1em;
    margin: 0;
    quotes: "\201C" "\201D";
}

blockquote cite {
    margin-left: 10em;
}

blockquote p:before {
    content: open-quote;
    font-size: 200%;
    font-weight: bold;
    color: #999;
}

blockquote p:after {
    content: close-quote;
    font-size: 200%;
    font-weight: bold;
    color: #999;
}

blockquote cite:before {
    content: " - ";
}

div.highlight {
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid;
    border-radius: 8px;
    overflow: hidden;
}


#nav_prev_page::before {
    content: '← ';
}

#nav_next_page::after {
    content: ' →';
}

