.page_list {
    font-family: monospace;
}

.page_list .time {
    display: inline-block;
    margin-right: 1em;
}

.page_list .ip_address {
    display: none;
    width: 8em;
    text-align: center;
    margin-right: 1em;
}

.page_list .name.del a {
    color: #999;
    text-decoration: line-through;
}

.page_list .name.new a {
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    .page_list .ip_address {
        display: inline-block;
    }
}
