body {
    margin: 0;
    padding: 0;
    font-family: NanumGothic, '맑은 고딕', gulim, sans-serif;
    background-color: white;
    word-wrap: break-word;
}

#wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;
    float: left;
    background-color: white;
}

#editor {
    width: 100%;
    margin: 0;
}

#content {
    width: 95%;
    min-height: 40em;
    font-size: 12pt;
}

#preview {
    display: none;
}
