<!DOCTYPE HTML>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% block metatags %}<meta name="articleuri" content="{{ escaped_article_name }}" />{% endblock %}
    <title>{% block title %} Page title {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="bulma.css") }}" media="screen" />
{% block css %}
<link rel="stylesheet" href="{{ url_for("static", filename="read.css") }}" media="screen" />
{% endblock %}
{% block script %}<script src="{{ url_for("static", filename="edit.js") }}"></script>{% endblock %}
    </head>
    <body>
    {% include 'Nav.html' %}
        <section id="wrapper" class="section">
            <h1 class="title">{% block subTitle %}Sub title{% endblock %}</h1>
    {% block content %}
    {% endblock %}
        </section>
	<footer class="footer">
		<a href="https://bulma.io">
			<img src="https://bulma.io/images/made-with-bulma--black.png" alt="Made with Bulma" width="128" height="24">
		</a>
	</footer>
    </body> 
</html>
