<!DOCTYPE HTML>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% block metatags %}<meta name="articleuri" content="{{ escaped_article_name }}" />{% endblock %}
    <title>{% block title %} Page title {% endblock %}</title>
{% block css %}
<link rel="stylesheet" href="{{ url_for("static", filename="bulma.css") }}" media="screen" />
<link rel="stylesheet" href="{{ url_for("static", filename="read.css") }}" media="screen" />
{% endblock %}
{% block script %}<script src="{{ url_for("static", filename="edit.js") }}"></script>{% endblock %}
    </head>
    <body>
        <div id="wrapper">
    {% include 'Nav.html' %}
            <h1>{% block subTitle %}Sub title{% endblock %}</h1>
    {% block content %}
    {% endblock %}
        </div>
    </body> 
</html>
