<!DOCTYPE HTML>
<html lang="ko" prefix="og: http://ogp.me/ns#">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ article.name[5:] }}</title>

    <meta property="og:title" content="{{ article.name[5:] }}" />
    <meta property="og:type" content="website" />
    <meta property="og:author" content="Yoonseop Kang" />
    <meta property="og:site_name" content="blog.2501.sh" />
    <meta property="og:url" content="https://blog.2501.sh{{ url_for('read', pagename=article.url_name[5:]) }}" />
    <meta property="og:image" content="https://2501.sh/profile.png" />

    <link rel="stylesheet" href="{{ url_for("static", filename="bulma.min.css") }}" media="screen" />
    <link rel="stylesheet" href="{{ url_for("static", filename="blog.css") }}" media="screen" />
    <link rel="stylesheet" href="{{ url_for("static", filename="print.css") }}" media="print" />
    <link rel="stylesheet" href="{{ url_for("static", filename="pygments-github.css") }}" media="screen" />
</head>
<body>
    <div id="wrapper" class="section">
        <h1 class="title">{{ article.name[5:] }}</h1>
        <div class="content">
            <span class="tag post-time">
                {{ article.time_create.strftime('%Y-%m-%d %H:%M') }}
            </span>
        </div>
        <div id="content" class="content_read content">
            {{article.html|safe}}
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
