<!DOCTYPE HTML>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Archive</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="bulma.min.css") }}" media="screen" />
    <link rel="stylesheet" href="{{ url_for("static", filename="blog.css") }}" media="screen" />
    <link rel="stylesheet" href="{{ url_for("static", filename="print.css") }}" media="print" />
    <link rel="stylesheet" href="{{ url_for("static", filename="pygments-github.css") }}" media="screen" />
</head>
<body>
    <div id="wrapper" class="section content">
        <h1>Archive</h1>
        {% if article_list %}
        <ul id="page_list">
            {% for a in article_list %}
            <li>
                <span class="tag post-time">
                    {{ a.time_create.strftime('%Y-%m-%d %H:%M') }}
                </span>
                <span class="name">
                    <a href="{{ url_for("read", pagename=a.url_name[5:]) }}">{{ a.name[5:] }}</a>
                </span>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No postings yet.</p>
        {% endif %}
    </div>
    {% include 'footer.html' %}
</body>
</html>
