{% extends 'Base.html' %}

{% block metatags %}
<meta name="articleuri" content="{{ article.name }}" />
{% endblock %}

{% block title %}{{ article.name }} - edit{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ url_for("static", filename="wiki/read.css") }}" media="screen" />
<link rel="stylesheet" href="{{ url_for("static", filename="wiki/edit.css") }}" media="screen" />
<!-- Start iPhone -->
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<link media="only screen and (max-device-width: 480px)" href="{{ url_for("static", filename="wiki/edit_iphone.css") }}" type= "text/css" rel="stylesheet" />
<!-- End iPhone -->
{% endblock %}


{% block script %}<script type="text/javascript" src="{{ url_for("static", filename="wiki/edit.js") }}"></script>
{% endblock%}


{% block subTitle %}Editing {{ article.name }}{% endblock %}
{% block content %}

{% if suggestion %}
<p id="search_suggestion">Did you search for <em><a href="{{site_uri}}search?q={{suggestion}}">{{ suggestion }}</a></em>? </p>
{% endif %}

    <form action="#" method="POST" id="edit">
        <div id="editor">
	    <div id="insert_pad">
		<ul id="tool_list">
		    <li class="selected"><a href="#insert_tool_link">Link</a></li>
		    <li><a href="#insert_tool_latex">LaTeX</a></li>
		    <li><a href="#insert_tool_media">Media</a></li>
		</ul>
		<div class="insert_tool" id="insert_tool_link">
		</div>
		<div class="insert_tool" id="insert_tool_latex">
		</div>
		<div class="insert_tool" id="insert_tool_media">
		</div>
	    </div>
            <textarea id="content" name="content">{{ article.markdown }}</textarea>
            <div><span id="count">0</span> bytes</div>
            <input type="submit" value="Apply Changes" />
            <p><a href="{{ url_for("read", pagename=article.name) }}">Read This Article</a></p>
        </div>
        <!-- preview disabled
	<div id="preview" class="content_read">Preview not loaded</div>
	-->
    </form>
{% endblock %}
