{% extends 'Base.html' %}

{% block title %}{{ article.name }} - edit{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ url_for("static", filename="read.css") }}" media="screen" />
<link rel="stylesheet" href="{{ url_for("static", filename="edit.css") }}" media="screen" />
{% endblock %}


{% block script %}<script src="{{ url_for("static", filename="edit.js") }}"></script>
{% endblock%}


{% block subTitle %}Editing {{ article.name }}{% endblock %}
{% block content %}
    <form action="#" method="POST" id="edit">
        <div id="editor">
	    <p>
	        <label for="is_public">Public?</label>
	        <input type="checkbox" name="is_public" {% if article.is_public %}checked{% endif %}  />
	    </p>
        <p>
	        <label for="url_name">URL</label>
            <input type="text" name="url_name" value="{{ article.url_name }}"  />
        </p>
            <textarea id="content" name="content" tabindex="0">{{ article.markdown }}</textarea>
            <div><span id="count">0</span> bytes</div>
            <input type="submit" value="Apply Changes" />
            <p><a href="{{ url_for("read", pagename=article.name) }}">Read This Article</a></p>
        </div>
    </form>
{% endblock %}
