{% extends 'wiki/Base.html' %}

{% block metatags %}
{% endblock %}

{% block title %}Revision History of All Pages{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ MEDIA_URL }}wiki/read.css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}wiki/history.css" media="screen" />{% endblock %}
{% block script %}<script src="{{ MEDIA_URL }}wiki/view.js"></script>{% endblock%}


{% block subTitle %}Full list of wiki History{% endblock %}
{% block content %}
<ul id="history_list">
    {% for h in history_list %}
    <li>
	<span class="name">{{ h.name }} <a href="{{ site_uri }}history/{{ h.id }}">#{{ h.id }}</a></span>
	<span class="ip_address">{{ h.ip_address }}</span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
