{% extends 'Base.html' %}

{% block title %}{{ article_name }} - History #{{ article.id }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ url_for("static", filename="read.css") }}" media="screen" />
<link rel="stylesheet" href="{{ url_for("static", filename="print.css") }}" media="print" />
<link rel="stylesheet" href="{{ url_for("static", filename="pygments-github.css") }}" media="screen" />
{% endblock %}

{% block script %}
<link rel="stylesheet" href="{{ url_for("static", filename="katex/katex.min.css") }}" />
<script defer src="{{ url_for("static", filename="katex/katex.min.js") }}"></script>
<script defer src="{{ url_for("static", filename="katex/contrib/auto-render.min.js") }}"></script>
<script src="{{ url_for("static", filename="read.js") }}"></script>
{% endblock%}


{% block subTitle %}{{ article.name }} <span class="history_id"> - History {{ article.id }}</span>{% endblock %}
{% block content %}
<div id="content" class="content">
{{ article.html|safe }}
</div>

<p id="controls" class="content">
<a class="button" href="{{ url_for("history_list", pagename=article.name) }}">Other Versions</a>
<a class="button" href="{{ url_for("read", pagename=article.name) }}">Show current version</a>
</p>
{% endblock %}
