{% extends 'Base.html' %}

{% block title %}Revision History of {{ article_name }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ url_for("static", filename="read.css") }}" media="screen" />{% endblock %}
{% block script %}<script src="{{ url_for("static", filename="view.js") }}"></script>{% endblock%}

{% block subTitle %}<span class="history_id">Versions of </span>{{ article_name }}{% endblock %}
{% block content %}
<ul id="history_list">
    {% for h in history_list %}
    <li>
        <span class="name"><a href="{{ url_for("history", history_id=h.id) }}">#{{ h.id }}</a></span>
        <span class="ip_address">{{ h.ip_address }}</span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
