{% extends 'Base.html' %}

{% block metatags %}
{% endblock %}

{% block title %}PageList{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ url_for("static", filename="wiki/read.css") }}" media="screen" />
<link rel="stylesheet" href="{{ url_for("static", filename="wiki/pagelist.css") }}" media="screen" />
{% endblock %}
{% block script %}<script type="text/javascript" src="{{ url_for("static", filename="wiki/view.js") }}"></script>{% endblock%}


{% block subTitle %}List of Pages{% endblock %}
{% block content %}
There are total {{ article_list|length }} pages.
<ol id="page_list">
    {% for a in article_list %}
    <li>
    <span class="name"><a href="{{ url_for("read", pagename=a.name) }}">{{ a.name }}</a></span>
    </li>
    {% endfor %}
</ol>
{% endblock %}
