{% extends 'Base.html' %}

{% block metatags %}
{% if redirect %}
<meta http-equiv="Refresh" content="1; url={{ url_for("read", pagename="%s" % redirect) }}" />
{% endif %}
{% endblock %}

{% block title %}{{ article.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for("static", filename="read.css") }}" media="screen" />
<link rel="stylesheet" href="{{ url_for("static", filename="print.css") }}" media="print" />
<link rel="stylesheet" href="{{ url_for("static", filename="pygments-github.css") }}" media="screen" />
{% endblock %}

{% block script %}
<link rel="stylesheet" href="{{ url_for("static", filename="katex/katex.min.css") }}" />
<script defer src="{{ url_for("static", filename="katex/katex.min.js") }}"></script>
<script defer src="{{ url_for("static", filename="katex/contrib/auto-render.min.js") }}" onload="renderMathInElement(document.body);"></script>
<script src="{{ url_for("static", filename="read.js") }}"></script>
{% endblock%}


{% block subTitle %}{{ article.name }}{% endblock %}
{% block content %}

{% if search_query %}
<div id="create_new">
	You searched for page <em>{{ search_query }}</em>.
	<a href="{{site_uri}}edit/{{ search_query }}">Create a new page</a> if
	needed.
</div>
{% endif %}
<div id="content" class="content">
{{ article.html|safe }}
</div>

{% if current_user.is_authenticated %}
<p id="controls" class="content">
<a class="button" id="control_edit" href="{{ url_for("edit", pagename=article.name) }}">Edit</a>
<a class="button" href="{{ url_for("history_list", pagename=article.name) }}">History</a>
<a class="button" href="{{ url_for("raw", pagename=article.name) }}">Raw</a>
<a class="button" href="{{ url_for("logout") }}">Logout</a>
</p>
{% endif %}

<nav id="prev_next" class="content">
{% if prev_page %}
<a id="nav_prev_page" class="is-pulled-left" href="{{ url_for("read", pagename=prev_page.name) }}">{{prev_page.name}}</a>
{% endif %}
{% if next_page %}
<a id="nav_next_page" class="is-pulled-right" href="{{ url_for("read", pagename=next_page.name) }}">{{next_page.name}}</a>
{% endif %}
</nav>

{% endblock %}
