{% extends 'Base.html' %}

{% block metatags %}
{% endblock %}

{% block title %}RecentChanges{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ url_for("static", filename="read.css") }}" media="screen" />
<link rel="stylesheet" href="{{ url_for("static", filename="recentChanges.css") }}" media="screen" />
{% endblock %}


{% block script %}
<script src="{{ url_for("static", filename="read.js") }}"></script>
{% endblock%}

{% block subTitle %}RecentChanges{% endblock %}
{% block content %}
{% for h in history_list %}
<h2>{{ h.date }}</h2>
<ul class="page_list">
{% for d in h.changes %}
        <li>
        <span class="time">{{ d.time_edit }}</span> 
		<span class="ip_address">{{ d.ip_address }}</span>
		<span class="type">{{ d.type }}</span>
        <span class="name"><a href="{{ url_for("read", pagename=d.name_esc) }}">{{ d.name }}</a></span>
        <!-- <span class="author">{{ h.author }}</span> -->
        </li>
{% endfor %}
</ul>
{% endfor %}
{% endblock %}
