{% extends 'Base.html' %}

{% block title %}Search Result for {{ query }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for("static", filename="read.css") }}" media="screen" />
<link rel="stylesheet" href="{{ url_for("static", filename="search.css") }}" media="screen" />
{% endblock %}
{% block script %}<script src="{{ url_for("static", filename="view.js") }}"></script>{% endblock%}


{% block subTitle %}Search: <span id="keyword">{{ query }}</span>{% endblock %}
{% block content %}

<div class="box">
{% if exact_match %}
<p id="exact_match">Exact match: <a href="{{ url_for("read", pagename=exact_match) }}">{{ exact_match }}</a></p>
{% else %}
<p>No exact match for <span>"{{query}}"</span>. <a href="{{ url_for("edit", pagename=query) }}">Create a new page</a></p>
{% endif %}
</div>

<div class="content">
{% if match_list %}
<ul id="match_list">
    {% for m in match_list %}
    <li>
    <span class="name"><a href="{{ url_for("read", pagename=m) }}">{{ m }}</a></span>
    </li>
    {% endfor %}
</ul>
{% else %}
{%if not match_list and not exact_match %}
<p>No search result for <span>&quot;{{query}}&quot;</span>. <a href="{{ url_for("edit", pagename=query) }}">Create a new page</a></p>
{% endif %}
{% endif %}
</div>

{% endblock %}
