{% extends 'Base.html' %}

{% block metatags %}
{% endblock %}

{% block title %}Upload a File{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ url_for("static", filename="read.css") }}" media="screen" />
<!-- Start iPhone -->
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<link media="only screen and (max-device-width: 480px)" href="{{ url_for("static", filename="edit_iphone.css") }}" type= "text/css" rel="stylesheet" />
<!-- End iPhone -->
{% endblock %}

{% block script %}
{% endblock%}

{% block subTitle %}Upload a file{% endblock %}
{% block content %}

<p>You can upload your file here (smaller than 1GB)</p>
<form action="#" enctype="multipart/form-data" method="post" id="form_upload">
	<input type="file" name="file" />
	<input type="submit" value="Upload This File" />	
</form>
<h2>Uploaded Files</h2>
<ul>
{% for s in filenames %}
<li><a href="{{ url_for("static", filename="upload/%s" % s) }}">{{ s }}</a></li>
{% endfor %} 
</ul>
{% endblock %}
